<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<body>
<div layout:fragment="main_content">
    <div class="container-xl">
        <div class="card" style="width: 40rem;">
            <div class="card-header">
                Update car
            </div>
            <form method="post" th:action="@{'/cars/update/' + ${car.getId()}}" th:object="${car}">
                <div class="card-body">
                    <div class="row">
                        <div class="container mb-3">
                            <label  class="col-sm-2 col-form-label col-form-label-lg">Brand</label>
                            <div class="col-sm-10">
                                <input type="text"  th:field="*{brand}" class="form-control form-control-lg"  placeholder="col-form-label-lg">
                            </div>
                        </div>
                        <div class="container mb-4">
                            <label  class="col-sm-3 col-form-label col-form-label-lg">Year of creating</label>
                            <div class="col-sm-10">
                                <input type="number"  th:field="*{yearOfCreating}" class="form-control form-control-lg"  placeholder="col-form-label-lg">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>