<body>
<div class="main">
  <h1>CarHaven</h1>
  <h3>Enter your register credentials</h3>
  <form [formGroup]="registerForm">
    <label for="first">
      Email:
    </label>
    <input type="email"
           id="first"
           name="first"
           formControlName="email"
           placeholder="Enter your Email" required>

    <label for="password">
      Password:
    </label>
    <input type="password"
           id="password"
           name="password"
           formControlName="password"
           placeholder="Enter your Password" required>

    <div class="wrap">
      <button type="submit"
              (click)="login()">
        Submit
      </button>
    </div>
  </form>
  <p>Have an account?
    <a routerLink="/login"
       style="text-decoration: none;">
      Log in
    </a>
  </p>
</div>
</body>
